
{% extends 'base.html' %} {% import 'macros.html' as macro %} {% block content %}
<h1 style="color:turquoise">Welcome to The Pitching Website</h1>


<ul >
  <li>
    <a class="nav-link" data-toggle="tab" href="#Products" role="tab">Products</a>
  </li>
  <li >
    <a class="nav-link" data-toggle="tab" href="#Pickups" role="tab">Pickup Lines</a>
  </li>
  <li >
    <a class="nav-link" data-toggle="tab" href="#Interviews" role="tab">Interviews</a>
  </li>
  <li >
    <a class="nav-link" data-toggle="tab" href="#Promotions" role="tab">Promotions</a>
  </li>
</ul>

<a href="{{url_for('main.new_pitch')}}" style = "margin-left: 3.25%; color: #08bec6;">
  <span>Create new Pitch<span>
</a>

<div class="tab-content">
  <div style="margin-top: 1em;" class="tab-pane" id="Products" role="tabpanel">
    <div class="container-fluid" style="margin: 0% 2%">
      <div class="row">
        {{macro.displayPitchList(product_pitch)}}
      </div>
    </div>
  </div>
  <div style="margin-top: 1em;" class="tab-pane" id="Pickups" role="tabpanel">
    <div class="container-fluid" style="margin: 0% 2%">
      <div class="row">
        {{macro.displayPitchList(pickup_lines)}}
      </div>
    </div>
  </div>
  <div style="margin-top: 1em;" class="tab-pane" id="Interviews" role="tabpanel">
    <div class="container-fluid" style="margin: 0% 2%">
      <div class="row">
        {{macro.displayPitchList(interview_pitch)}}
      </div>
    </div>
  </div>
  <div style="margin-top: 1em;" class="tab-pane" id="Promotions" role="tabpanel">
    <div class="container-fluid" style="margin: 0% 2%">
      <div class="row">
        {{macro.displayPitchList(promotion_pitch)}}
      </div>
    </div>
  </div>
</div>
{% endblock%}

